:root {
  --text-color: #252f4a;
  --text-color-inverse: #ffffff;
  --text-gray: #99a1b7;

  --accent-gray: #dbdfe9;
  --accent-gray-hover: #b7bac2;
  --accent-blue: #1b84ff;
  --accent-blue-hover: #145fb7;
  --accent-gray-transparent: #dbdfe933;
  --accent-red: #ce144b;

  --light-bg: #ffffff;
  --dark-trasparent-bg: #00000080;

  /* typography */

  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-32: 2rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
}
