:root {
  --text-color: #252f4a;
  --text-color-inverse: #ffffff;
  --text-gray: #99a1b7;

  --accent-gray: #dbdfe9;
  --accent-gray-hover: #b7bac2;
  --accent-dark-gray: #99a1b7;
  --accent-dark-gray-hover: #7d8394;

  --accent-blue: #1b84ff;
  --accent-blue-hover: #145fb7;
  --accent-gray-transparent: #dbdfe933;

  --accent-red: #ff4949;
  --accent-green: #12ce66;
  --accent-yellow: #e7a23d;

  --light-bg: #ffffff;
  --dark-trasparent-bg: #00000080;

  --modal-pd: 16px;

  /* typography */

  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-32: 2rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;

  @media screen and (min-width: 768px) {
    --modal-pd: 20px;
  }
}
body {
  margin: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}
